<!-- So, this page needs to render the form, and also show results once the form is submitted -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>Topic Widget</title>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
</head>

<body>

<!-- Search form -->
<form  method="GET" action="index.php"  id="searchform"> 
	<input  type="text" name="topic"> 
	<input  type="submit" value="Search"> 
</form>

<!-- logic to check form submission and extract the variable 

this is handled by the line in my controller, index.php:

// Catch the topic variable from the submission form in index.twig
$topic = $request->query->get('topic');

-->

<!-- and then here we render the recent search terms and the external page results

That's it? We just use the variables from the return $app['twig']->render('index.twig', []); block now? -->

<p>You searched for the topic {{ topic }}.</p>

<!-- TODO: Prettier way to show arrays -->

{# Revive this again if I need to dump variables

{% for topic_lifo in topics_lifo %}
   {{ dump(topic_lifo) }}
{% endfor %}

{% for link_docommunity in links_docommunity %}
   {{ dump(link_docommunity) }}
{% endfor %}

#}

<!-- Show the recent search topics -->

<ul>
    {% for topic_lifo in topics_lifo %}
        <li>{{ topic_lifo|e }}</li>
    {% else %}
        <li><em>Please enter a search topic.</em></li>
    {% endfor %}
</ul>


<!-- Showing search results for DO Community -->

<ul>
    {% for link_docommunity in links_docommunity %}
        <li><a href={{ link_docommunity.href|e }}>{{ link_docommunity.text|e }}</a></li>
    {% else %}
        <li><em>No DO Community Results</em></li>
    {% endfor %}
</ul>


</body>
</html>